@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('../fonts/TitilliumText/TitilliumText22L005-webfont.eot');
    src: url('../fonts/TitilliumText/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText/TitilliumText22L005-webfont.woff') format('woff'),
         url('../fonts/TitilliumText/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background:#000;
	color:#fff;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:sans-serif;
	text-align:center;
/*	-webkit-perspective: 2000;*/
/*	cursor: none;*/
}
a:link {color: #fff;}
a:visited {color: #fff;}
a:active {color: #fff;}
canvas { 
	pointer-events:none; 
/*	z-index:10; */
	position:relative; 
	}
#info { text-align:left; font: 10px/1.2 Verdana, Arial, Helvetica, Sans-Serif; margin:0.5em 0em 0em 0.4em; z-index:11; position:absolute; display:none; color:#fff; background: #121212; opacity:0.8; border-radius:20px; padding: 32px }
#infobutton { text-align:left; margin:0em 0 0em 0em; z-index:12; position:absolute; display:block; padding: 8px }



#main {
	position: relative;
/*				margin: 20px auto;*/
	width: 1920px;
	height: 1080px;
/*	-webkit-transform-style: preserve-3d;*/
/*				overflow: hidden;*/
}

@-webkit-keyframes zoomInOut {
	0% {
		-webkit-transform: translateZ(0px);
	}
	25% {
		-webkit-transform: translateZ(-400px);
	}
	75% {
		-webkit-transform: translateZ(-400px);
	}
	100% {
		-webkit-transform: translateZ(0px);
	}
}

#container {
	position: relative;
	width: 1920px;
	height: 1080px;
/*	-webkit-transform-style: preserve-3d;*/
}

#container.out {
	-webkit-animation-duration: 1.7s;  
	-webkit-animation-name: zoomInOut;  
	-webkit-animation-iteration-count: 1;
}

#three_js {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	background-color: black;
/*				opacity: .8;*/
/*	-webkit-transform-style: preserve-3d;*/
/*	-webkit-transform: translateZ(-960px);*/
/*	-webkit-transition: -webkit-transform 1.5s linear;*/
}

.hide_three_js #three_js {
/*	-webkit-transform: translateZ(-960px) rotateY(-90deg);*/
}

#three_js .backdrop {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
}

#three_js .inner {
/*	-webkit-transform: translateZ(960px);*/
	color: white;
	background-color: black;
	font-size: 10em;
	width: 1920px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
}

#slides {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
/*	-webkit-transform-style: preserve-3d;*/
/*	-webkit-transform: translateZ(-960px);*/
}

#slides .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	color: white;
	background-color: #c6c;
	font-size: 10em;
/*	opacity: .8;*/
/*	-webkit-transform: rotateY(90deg) translateZ(960px);*/
/*	-webkit-backface-visibility: hidden;*/
}

#slides .slide.active {
/*	-webkit-transition: -webkit-transform 1.5s linear;*/
}

#slides .slide.show {
/*	-webkit-transform: rotateY(0deg) translateZ(960px);*/
}

#slides .slide.hide {
/*	-webkit-transform: rotateY(-90deg) translateZ(960px);*/
}

#overlays {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
/*	-webkit-transform: translateZ(1px);*/
}

#overlays .overlay {
	font-family: 'TitilliumText22LBold';
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	text-align: center;
	color: #0f9be6;
	font-weight: bold;
	font-size: 10em;
	line-height: 1.3em;
	opacity: 0;
	-webkit-transition: opacity 1s linear;
}

#overlays .overlay p {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#overlays .overlay.show {
	opacity: 1;
}

#newslides {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	z-index: 50;
}

#newslides .slide_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
}

#newslides .white_flash {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	background-color: white;
	opacity: 0;
}

@-webkit-keyframes flashInOut {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#newslides .white_flash.flash {
	-webkit-animation-duration: .8s;  
	-webkit-animation-name: flashInOut;  
	-webkit-animation-iteration-count: 1;
}

#newslides .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	background-color: black;
	display: none;
}

#newslides .slide img {
	display: block;
}

#newslides .text {
	color: #0f9be6;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 1720px;
	height: 1080px;
	display: table;
	padding: 0 100px;
}

#newslides .text p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 14em;
	line-height: 1.3em;
	font-family: 'TitilliumText22LBold';
/*	text-transform: uppercase;*/
}

#newslides .text.extrabig p {
	font-size: 36em;
}